@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lora, serif;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.green:hover {
    background: #8aac8b;
}


.blue:hover {
    background: #8aacab;
}

.red:hover {
    background: #ac8a8c;
}

.purple:hover {
    background: #8f8aac;
}

.pink:hover {
    background: #ac8aac;
}

.yellow:hover {
    background: #aca98a;
}

.orange:hover {
    background: #c6a679;
}
